$body-font-family: "Inter";
$font-family: "Inter";

.v-application {
  [class*="text-"] {
    font-family: $font-family, sans-serif !important;
  }
  font-family: $font-family, sans-serif !important;
}

.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)
  > .v-input__control
  > .v-input__slot {
  box-shadow: none !important;
}

table,
td {
  border: none !important;
}

// .table-header,
// .table-footer {
//   height: 60px;
//   background: #f7f7f7 !important;
// }

thead > tr > th {
  height: 64px !important;
}

tbody > tr > td {
  height: 64px !important;
  font-family: Inter !important;
  font-style: normal;
  font-weight: normal;
  font-size: 12px !important;
  line-height: 160%;
}

tbody > tr:hover {
  background: #e9e5f2 !important;
}

table {
  border-collapse: collapse;
}

.no-uppercase {
  text-transform: none !important;
}

.v-simple-checkbox .v-icon {
  color: #7c48ea !important;
}

.selection-item {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  color: #6e7191;
}

.v-data-table__expanded.v-data-table__expanded__content {
  box-shadow: none !important;
}

.label-style {
  font-family: Inter !important;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 12px !important;
  line-height: 140%;
  color: #726b81;
}

.header-3 {
  font-family: Inter !important;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 22px;
  line-height: 34px;
}

.v-text-field input {
  font-size: 14px;
}

.v-textarea textarea {
  font-size: 14px;
}

.custom-padding input {
  padding-left: 10px !important;
  opacity: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.v-btn-toggle > .v-btn.v-btn {
  opacity: 1 !important;
  background-color: white !important;
}

// .v-btn::before {
//   background-color: transparent !important;
// }

.timer-font {
  font-family: Inter !important;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
}

.timer-acuan-font {
  font-family: Inter !important;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.timer-date-subtitle-font {
  font-family: Inter !important;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: #8e8e8e;
}

.timer-date-font {
  font-family: Inter !important;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #8e8e8e;
}

.question-text-font {
  font-family: Inter !important;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
}

.daftar-soal-font {
  font-family: Inter !important;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  text-align: center;
}

.number-answer {
  background-color: #d7f6d7 !important;
  border: 1px solid #38d535 !important;
  width: 40px;
  height: 40px;
}

.number-answer-active {
  background-color: #38d435 !important;
}

.number-answer-not-answered-yet {
  background-color: #f5d0d0 !important;
  border: 1px solid #cc1212 !important;
}

.answered:hover {
  cursor: pointer;
}

.number-font {
  font-family: Inter !important;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #38d535;
}

.number-font-active {
  color: #d7f6d7 !important;
}

.number-font-not-answered-yet {
  color: #cc1212 !important;
}

.pointer:hover {
  cursor: pointer !important;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.1s ease-in-out;
}

.pointer:active {
  cursor: pointer !important;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.shadowing:hover {
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.1s ease-in-out;
}

.question:hover {
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.1s ease-in-out;
}

.question:active {
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.header-button-back {
  font-family: "Inter" !important;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0em;
}

.outlined-custom {
  border: 1px solid #d9dbe9;
}

.fixed-div {
  z-index: 99999;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.fixed-div-soal {
  z-index: 99999;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.div-box-shadow {
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.marginized {
  margin-top: 90px;
}

.text-answer-title {
  letter-spacing: -0.015625em;
  font-size: 7rem;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
// ::-webkit-scrollbar-track:hover {
//   background: #f1f1f1;
// }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
