$body-font-family: "Inter";
$font-family: "Inter";

.v-application {
  [class*="text-"] {
    font-family: $font-family, sans-serif !important;
  }
  font-family: $font-family, sans-serif !important;
}

.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)
  > .v-input__control
  > .v-input__slot {
  box-shadow: none !important;
}

table,
th,
td {
  border: none !important;
}

// .table-header,
// .table-footer {
//   height: 60px;
//   background: #f7f7f7 !important;
// }

thead > tr > th {
  height: 64px !important;
}

tbody > tr > td {
  height: 64px !important;
  font-family: Inter !important;
  font-style: normal;
  font-weight: normal;
  font-size: 12px !important;
  line-height: 160%;
}

tbody > tr:hover {
  background: #e9e5f2 !important;
}

table {
  border-collapse: collapse;
}

.no-uppercase {
  text-transform: none !important;
}

.v-simple-checkbox .v-icon {
  color: #7c48ea !important;
}

.selection-item {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  color: #6e7191;
}

.v-data-table__expanded.v-data-table__expanded__content {
  box-shadow: none !important;
}

.label-style {
  font-family: Inter !important;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 12px !important;
  line-height: 140%;
  color: #726b81;
}

.header-3 {
  font-family: Inter !important;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 22px;
  line-height: 34px;
}

.v-text-field input {
  font-size: 14px;
}

.v-textarea textarea {
  font-size: 14px;
}

.custom-padding input {
  padding-left: 10px !important;
  opacity: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.v-btn-toggle > .v-btn.v-btn {
  opacity: 1 !important;
  background-color: white !important;
}

// .v-btn::before {
//   background-color: transparent !important;
// }

.timer-font {
  font-family: Inter !important;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
}

.timer-date-subtitle-font {
  font-family: Inter !important;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: #8e8e8e;
}

.timer-date-font {
  font-family: Inter !important;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #8e8e8e;
}

.question-text-font {
  font-family: Inter !important;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
}

.daftar-soal-font {
  font-family: Inter !important;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  text-align: center;
}

.number-answer {
  background-color: #d7f6d7 !important;
  border: 1px solid #38d535 !important;
  width: 40px;
  height: 40px;
}

.number-answer-active {
  background-color: #38d435 !important;
}

.number-answer-not-answered-yet {
  background-color: #f5d0d0 !important;
  border: 1px solid #cc1212 !important;
}

.number-answer:hover {
  cursor: pointer;
}

.number-font {
  font-family: Inter !important;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #38d535;
}

.number-font-active {
  color: #d7f6d7 !important;
}

.number-font-not-answered-yet {
  color: #cc1212 !important;
}
