$body-font-family: "Inter";
$font-family: "Inter";

.v-application {
  [class*="text-"] {
    font-family: $font-family, sans-serif !important;
  }
  font-family: $font-family, sans-serif !important;
}

.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)
  > .v-input__control
  > .v-input__slot {
  box-shadow: none !important;
}

table,
th,
td {
  border: none !important;
}

// .table-header,
// .table-footer {
//   height: 60px;
//   background: #f7f7f7 !important;
// }

thead > tr > th {
  height: 60px !important;
}

tbody > tr > td {
  height: 60px !important;
}

tbody > tr:hover {
  background: #e9e5f2 !important;
}

table {
  border-collapse: collapse;
}

.no-uppercase {
  text-transform: none !important;
}

.v-simple-checkbox .v-icon {
  color: #7c48ea !important;
}

.selection-item {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  color: #6e7191;
}

.v-data-table__expanded.v-data-table__expanded__content {
  box-shadow: none !important;
}

.label-style {
  font-family: Inter !important;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 12px !important;
  line-height: 140%;
  color: #726b81;
}

.header-3 {
  font-family: Inter !important;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 22px;
  line-height: 34px;
}

.v-text-field input {
  font-size: 14px;
}

.v-textarea textarea {
  font-size: 14px;
}

.custom-padding input {
  padding-left: 10px !important;
  opacity: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.v-btn-toggle > .v-btn.v-btn {
  opacity: 1 !important;
  background-color: white !important;
}
